// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.add-project {
    background: white;
    margin: 0 auto;
}

.progress {
    border-radius: 4px;
    height: 40px;
}